##  Data Cleaning

In [1]:
import pandas as pd 
from IPython.display import display
from datetime import datetime as dt 
import numpy as np

#### Loading data...

In [11]:
df=pd.read_csv('/Users/dasha/Downloads/Crime_Data_from_2010_to_Present.csv',parse_dates=[['Date Occurred','Time Occurred']])

#### Checking the types of variables

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1805537 entries, 0 to 1805536
Data columns (total 25 columns):
Date Occurred_Time Occurred    datetime64[ns]
DR Number                      int64
Date Reported                  object
Area ID                        int64
Area Name                      object
Reporting District             int64
Crime Code                     int64
Crime Code Description         object
MO Codes                       object
Victim Age                     float64
Victim Sex                     object
Victim Descent                 object
Premise Code                   float64
Premise Description            object
Weapon Used Code               float64
Weapon Description             object
Status Code                    object
Status Description             object
Crime Code 1                   float64
Crime Code 2                   float64
Crime Code 3                   float64
Crime Code 4                   float64
Address                        object
Cross Street                   object
Location                       object
dtypes: datetime64[ns](1), float64(7), int64(4), object(13)
memory usage: 344.4+ MB

#### Dropping unnecessary columns

In [13]:
df=df.drop(columns=['DR Number','Date Reported','Reporting District','MO Codes','Crime Code','Area ID','Premise Code','Weapon Used Code','Status Code','Crime Code 1','Crime Code 2','Crime Code 3','Crime Code 4','Address','Cross Street'])

In [14]:
# Looking at missing values

num_row=df.shape[0]
print('Number of rows:', num_row)
vic_age=df['Victim Age'].isna().sum()
vic_sex=df['Victim Sex'].isna().sum()
vic_des=df['Victim Descent'].isna().sum()
vic_total=vic_age+vic_sex+vic_des
print('Number of missing rows for age,sec,descent combined: ',vic_total) 

#NaN of 3 groups comprise approx. 1/4 of total data - will keep the NaN values since 
#some of that data will be useful for other calculations

Number of rows: 1805537
Number of missing rows for age,sec,descent combined:  476297

In [15]:
df['Victim Age'].fillna('Missing',inplace=True)
df['Victim Sex'].fillna('Missing',inplace=True)
df['Victim Descent'].fillna('Missing',inplace=True)

In [16]:
# How much data is missing in 'Weapoin Description'?
print((df['Weapon Description'].isna().sum())/num_row*100)

66.70491936747905

In [17]:
# Since the column is missing more than 66% of its data....
df.drop(columns='Weapon Description',inplace=True)

In [18]:
print((df['Premise Description'].isna().sum())/num_row*100)
# Premise Description data is well populated and could be used in calculations

0.17933722765027799

In [19]:
# Will drop NaN values since number of missing data is insignificant 
df.dropna(subset=['Premise Description'],how='any',inplace=True)

#### Final, clean data frame

In [20]:
df.head()

,Date Occurred_Time Occurred,Area Name,Crime Code Description,Victim Age,Victim Sex,Victim Descent,Premise Description,Status Description,Location
0,2013-03-11 18:00:00,77th Street,INTIMATE PARTNER - SIMPLE ASSAULT,30,F,W,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",Adult Other,"(33.9829, -118.3338)"
1,2010-01-22 23:00:00,Olympic,VEHICLE - STOLEN,Missing,Missing,Missing,STREET,Invest Cont,"(34.0454, -118.3157)"
2,2013-03-18 20:30:00,Southeast,VEHICLE - STOLEN,12,Missing,Missing,STREET,Invest Cont,"(33.942, -118.2717)"
3,2010-11-10 18:00:00,Southeast,VEHICLE - STOLEN,Missing,Missing,Missing,STREET,Invest Cont,"(33.9572, -118.2717)"
4,2014-01-04 23:00:00,Topanga,VANDALISM - MISDEAMEANOR ($399 OR UNDER),84,M,W,SINGLE FAMILY DWELLING,Invest Cont,"(34.2009, -118.6369)"